
/* header */
#header {display:inline-block; width: 1500px; height: 100px;}
#logo {float: left;}
#title {font-family: 'Sunflower'; }
nav>ul {display:flex; justify-content: flex-end; list-style: none;
  font-family: 'Sunflower';}




#wrap{ min-width:100%; width:100%; }

.modal.show {
  display: block;
}

.modal { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; background-color: rgba(0, 0, 0, 0.4); }

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

  #wrap {background:linear-gradient(45deg,lightgreen,yellow);}

  #footer {
    width:0 auto; height: 150px; margin:0 auto; padding:15px 0 40px; 
   background:linear-gradient(45deg,lightgreen,yellow);
   
  }
  
  #footer ul {
    list-style: none;
    display: flex;
   justify-content:space-around;
   padding-left: 100px;
   padding-right: 100px;

  }
  
 #container {
  display:flex;
  position: relative;
  justify-content: center;
  
}

 #lnb {
  display: block;
  position: relative;
  border: 2px solid aliceblue;
  border-radius: 20px;
 }

 #lnb ul {
  list-style: none;
  display: flex;
 justify-content:space-around;
 padding-left: 100px;
 padding-right: 100px;
 }